@charset "UTF-8";
/* CSS Document */
 
     
a.msg {
    text-decoration: none;
    color: #6E052E;
}
 
#barre {
		color: black;
    width: 100%;
    background:lightgrey;
    padding:0px 0;
    text-align: center;
    font-size:14px;
    margin-top:-50px;
    position: absolute;
	  left: 0px;
  	bottom: 0px;
    z-index: 1;
}
 
#fermer {
    background: url(../img/fermer.png);
    width: 18px;
    height:18px;
    display: block;
    cursor: pointer;
    float:right;
    margin-right:30px;
}
 
#fermer:hover {
    background: url(../img/fermer2.png);
}

.marque
{
  font-size: 300%;
  text-align: center;
  word-break: break-word;
}

