/deluxe/composer.json
/deluxe/composer.lock
/deluxe/config/config.php
/deluxe/vendor/*
/eulalie/composer.json
/eulalie/composer.lock
/eulalie/config/config.php
/eulalie/vendor/*
/.vscode/launch.json
/composer.json
/composer.lock
/vendor/*
*~
/deluxe2/config/*
/eulalie2/config/*
/common/config/*

