/.vscode/launch.json
/composer.json
/composer.lock
/vendor/*
*~
/common/config/*
/composer.phar
/upload/*.jpg
/upload/*.jpeg
/upload/*.gif
/upload/*.png
/upload/*.php*
/common/customerarea/.env
/common/.env
/common/._admin/qrcode/*
/common/customerarea/qrcode/*
