/deluxe/composer.json
/deluxe/composer.lock
/deluxe/config/config.php
/deluxe/vendor/*
/eulalie/composer.json
/eulalie/composer.lock
/eulalie/config/config.php
/eulalie/vendor/*
/.vscode/launch.json
/composer.json
/composer.lock
/vendor/*
*~
/deluxe2/config/*
/eulalie2/config/*
/common/config/*
/deluxe/upload/*
/eulalie/upload/*
/eulalie2/upload/*
/deluxe/img/*
/deluxe2/img/*
/eulalie/img/*
/deluxe2/upload/*
/deluxe/*
/eulalie/*
/deluxe2/*
/eulalie2/*
/new_customer/*
/lubval/*
/cafejulien/*
/laruche/*
/composer.phar
/test/*
/test4/*
/test5/*
/test6/*
/test7/*
/test8/*
/test9/*
/paulinekids/*
/test1/*
/testa/*
/testb/*
