# Disable index view
Options -Indexes

<Files .gitignore>
 order allow,deny
 deny from all
 satisfy all
</Files>

<Files composer.*>
 order allow,deny
 deny from all
 satisfy all
</Files>

DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]


